<template>
    <div class="row">
            <form>
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3">

                <label>Quote</label>
                <textarea class="form-control" rows="3" v-model="quote"></textarea>
                </div>
                </form>
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-md-6 col-md-offset-3">
            <button class="btn btn-primary" @click.prevent="addNew">Add Quote</button>
        </div>
    </div>
</template>
<script>
    export default {
        data: function () {
            return {
                quote: ''
            };
        },
        methods: {
            addNew() {
                this.$emit('quoteAdded', this.quote);
                this.quote = '';

            }
        }
    }
</script>
<style>

</style>